<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" >

  <title>LeafBook</title>
</head>

<template id="book-selection">
  <div class="book-page">
      <form>
        <div class="form-group">
          <label  class="book-label" for="book-name">Select a book name</label>
          <input type="text" class="form-control" id="book-name" aria-describedby="bookHelp" placeholder="Book name" v-model="bookname">
          <small id="bookHelp" class="form-text text-muted">If the book does not exists, it will be created.</small>
        </div>
        <button @click="getBook" class="btn btn-success btn-block" :disabled="bookname === ''">
          Go 
          <span class="spinner" v-if="loading"></span>
        </button>
      </form>
  </div>
</template>

<template id="leaves-page">
  <div>
    🍃 <router-link class="btn btn-primary" to="/">Book</router-link>
  </div>
</template>

<body>
  <div id="app">
    <router-view></router-view>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="code.js"></script>
</body>
</html>
