html, body {
    height: 100%;
}

body {
    margin: 0;
}

#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.book-page {
    height: 100%;
    background-color: #c8e6c9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-label {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#bookHelp {
    text-align: center;
}

.btn-block {
    position: relative;
}

nav {
  background-color: #97b498;
}

nav a {
  color: rgba(0,0,0,.9)
}

#leaves-page {
  height: 100%;
  background-color: #c8e6c9;
}

.navbar-brand {
  margin: auto;
}

.spinner {
  width: 22px;
  height: 22px;
  margin: auto;
  position: absolute;
  background-color: #c8e6c9;
  right: 10px;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
