html, body {
    height: 100%;
}

body {
    margin: 0;
}

#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.book-page {
    height: 100%;
    background-color: #c8e6c9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-label {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#bookHelp {
    text-align: center;
}

.btn-success {
  background-color: #9BD19B;
  border-color: #9BD19B; 
}

.btn-success:hover {
  background-color: #B3DCB3;
  border-color: #B3DCB3;
}

.btn-block {
    position: relative;
}

nav {
  background-color: #9BD19B;
}

nav a {
  color: rgba(0,0,0,.9)
}

#leaves-page {
  min-height: 100%;
  background-color: #c8e6c9;
}

.margin-center {
  margin: auto;
}

.card-leaf {
  background-color: #DBEEDB;
}

.card-wood {
  background-color: #FFEDDE;
}

.card-berry {
  background-color: #E2ECEC;
}

.card-flower {
  background-color: #FFEAEA;
}

.card-header,
.card-footer {
  background-color: rgba(0,0,0,.02);
}

.card input,
.card textarea {
  border: none transparent;
  outline: none;
  resize: none;
  width: 100%;
  background: none;
}

.color-button {
  /*margin-left: 2px;*/
  display: inline-block;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 5px 0px;
  border: 1px solid rgba(0,0,0,.2);
}

.color-circle-leaf {
  background-color: #C8E6C8;
}

.color-circle-wood {
  background-color: #FFEDDE;
}

.color-circle-berry {
  background-color: #B2CDCD;
}

.color-circle-flower {
  background-color: #FFDEDE;
}

.color-popup {
  position: absolute;
  display: none;
  bottom: 43px;
  background: #fafafa;
  border: 1px solid transparent;
  border-radius: 6px;
  height: 0px;
  padding: 0 5px;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.color-popup-open {
    height: auto;
    border: 1px solid #eeeeee;
    display: block;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  background-color: #c8e6c9;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
