html, body {
    height: 100%;
}

body {
    margin: 0;
}

#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.book-page {
    height: 100%;
    background-color: #c8e6c9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-label {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#bookHelp {
    text-align: center;
}